<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <ul class="menu">
        <% renderMenu(structure.children) %>
    </ul>
    <div class="content">
        <div id="organizations" class="content__organizations"></div>
        <div id="participants" class="content__participants"></div>
        <div id="error" class="content__error"></div>
    </div>
</body>
</html>

<% function renderMenu(menuItems, path = '') { %>
    <% menuItems.forEach(item => { %>
        <li class="<%= item.children ? 'menu-item has-children' : 'menu-item' %>">
            <div class="menu-item__title">
                <% if (item.children) { %>
                    <div class="menu-item__submenu-button">+</div>
                <% } %>
                <a class="menu-item__link" href="<%= path + item.name %>"><%= item.title.replaceAll('&nbsp;', ' ') %></a>
            </div>
            <% if (item.children) { %>
                <ul class="menu-item__submenu">
                    <% renderMenu(item.children, path + item.name + '/') %>
                </ul>
            <% } %>
        </li>
    <% }); %>
<% } %>
